@import "./variable.scss";

.mj-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: 0.1s;
    font-weight: 500;
    // 禁止元素文字被选中
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    &:focus,
    &:hover {
      color: #409eff;
      border-color: #c6e2ff;
      background-color: #ecf5ff;
    }
    &.is-plain {
      &:focus,
      &:hover {
        background: #fff;
        border-color: #409eff;
        color: #409eff;
      }
    }
    &.is-round {
      border-radius: 20px;
      padding: 12px 23px;
    }
    &.is-circle {
      border-radius: 50%;
      padding: 12px;
    }
    &.is-disabled {
      color: #c0c4cc;
      cursor: not-allowed;
      background-image: none;
      background-color: #fff;
      border-color: #ebeef5;
    }
  }
  .mj-button {
    &--primary {
      color: #fff;
      background-color: #409eff;
      border-color: #409eff;
      &:focus,
      &:hover {
        background: #66b1ff;
        border-color: #66b1ff;
        color: #fff;
      }
      &.is-plain {
        color: #409eff;
        background: #ecf5ff;
        border-color: #b3d8ff;
        &:focus,
        &:hover {
          background: #409eff;
          border-color: #409eff;
          color: #fff;
        }
      }
      &.is-disabled {
        color: #fff;
        background-color: #a0cfff;
        border-color: #a0cfff;
      }
    }
    &--success {
      color: #fff;
      background-color: #67c23a;
      border-color: #67c23a;
      &.is-plain {
        color: #67c23a;
        background: #f0f9eb;
        border-color: #c2e7b0;
        &:focus,
        &:hover {
          background: #67c23a;
          border-color: #67c23a;
          color: #fff;
        }
      }
      &.is-disabled {
        color: #fff;
        background-color: #b3e19d;
        border-color: #b3e19d;
      }
    }
    &--info {
      color: #fff;
      background-color: #909399;
      border-color: #909399;
      &.is-plain {
        color: #909399;
        background: #f4f4f5;
        border-color: #d3d4d6;
        &:focus,
        &:hover {
          background: #909399;
          border-color: #909399;
          color: #fff;
        }
      }
      &.is-disabled {
        color: #fff;
        background-color: #c8c9cc;
        border-color: #c8c9cc;
      }
    }
    &--warning {
      color: #fff;
      background-color: #e6a23c;
      border-color: #e6a23c;
      &.is-plain {
        color: #e6a23c;
        background: #fdf6ec;
        border-color: #f5dab1;
        &:focus,
        &:hover {
          background: #e6a23c;
          border-color: #e6a23c;
          color: #fff;
        }
      }
      &.is-disabled {
        color: #fff;
        background-color: #f3d19e;
        border-color: #f3d19e;
      }
    }
    &--danger {
      color: #fff;
      background-color: #f56c6c;
      border-color: #f56c6c;
      &.is-plain {
        color: #f56c6c;
        background: #fef0f0;
        border-color: #fbc4c4;
        &:focus,
        &:hover {
          background: #f56c6c;
          border-color: #f56c6c;
          color: #fff;
        }
      }
      &.is-disabled {
        color: #fff;
        background-color: #fab6b6;
        border-color: #fab6b6;
      }
    }
  }